body {
  font-family: "Roboto", sans-serif; }

header .carousel-item {
  position: relative; }
  header .carousel-item img {
    height: 815px;
    -o-object-fit: cover;
       object-fit: cover; }
header .carousel-control-prev-icon, header .carousel-control-next-icon {
  display: none; }
header .titleTex {
  position: absolute;
  bottom: 50px;
  right: 300px; }
  header .titleTex h1 {
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }
  header .titleTex h4 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #FFFFFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-top: -50px; }

body .description {
  margin-top: 150px; }
  body .description h4 {
    text-align: right; }
  body .description .blueTitle {
    color: #268DCF; }
  body .description .titleText {
    font-family: Roboto;
    font-size: 48px;
    line-height: 56px; }
  body .description .descriptionText {
    font-size: 24px;
    line-height: 28px;
    color: #2C1A12; }
body .image-block img {
  width: 100%;
  margin-top: 150px; }
body .training {
  margin-top: 50px; }
  body .training .align h2, body .training .align p, body .training .align h5, body .training .align h3, body .training .align h4, body .training .align h6 {
    text-align: center; }
  body .training .align h2 {
    font-size: 64px;
    line-height: 75px;
    color: #268DCF;
    margin-bottom: 20px; }
  body .training .align p {
    font-size: 24px;
    line-height: 30px;
    color: #2C1A12; }
  body .training .align h5 {
    font-size: 30px;
    line-height: 35px;
    color: #268DCF;
    margin: 5px 0px 7px; }
  body .training .align__list h3 {
    color: #268DCF;
    font-size: 48px;
    line-height: 56px; }
  body .training .align__list h4 {
    font-size: 36px;
    line-height: 42px;
    color: #2C1A12; }
  body .training .align__list p {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #268DCF; }
  body .training .training__button {
    text-align: center; }
    body .training .training__button .buttonColor {
      margin-top: 44px;
      background: #268DCF;
      width: 237px;
      height: 47px;
      font-size: 30px;
      line-height: 35px;
      color: #FFFFFF; }
body .image-block-two img {
  width: 100%;
  margin-top: 65px; }
body .service__title {
  margin-top: 60px;
  font-size: 64px;
  line-height: 75px;
  color: #268DCF;
  text-align: center; }
body .service__icon {
  text-align: center; }
body .service__text {
  margin-top: 40px;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: #2C1A12; }
body .service h5 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #2C1A12;
  margin-top: 30px; }
body .service h6 {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #268DCF;
  margin-bottom: 30px; }
body .service__align {
  text-align: center;
  margin-top: 0px; }
body .service__button {
  text-align: center; }
  body .service__button .buttonColor {
    margin-top: 44px;
    background: #268DCF;
    width: 237px;
    height: 47px;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 44px; }
body .service__title-size {
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  color: #268DCF;
  display: block; }
  body .service__title-size__title-size:hover {
    text-transform: underline; }
body .gallery__box {
  padding-left: 5px;
  padding-right: 5px; }
body .gallery h2 {
  font-size: 64px;
  line-height: 75px;
  color: #268DCF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0; }
body .gallery a {
  margin: 0px 0px 10px;
  display: block; }
  body .gallery a .gallery__image {
    width: 230px;
    height: 230px;
    -o-object-fit: cover;
       object-fit: cover; }
body .gallery .more p {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #268DCF; }
body .gallery .more p:hover {
  text-decoration: underline; }
body .accordion .btn-link {
  font-size: 20px;
  line-height: 24px;
  color: #2C1A12; }
body .accordion .card-body {
  font-size: 18px;
  line-height: 24px;
  color: #2C1A12;
  margin-left: 5px; }
body .lb-details {
  display: none; }
body .btn.focus, body .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

@media (max-width: 1400px) {
  header .titleTex {
    right: 154px;
    text-align: right; } }
@media (max-width: 1200px) {
  header .titleTex {
    right: 100px; } }
@media (max-width: 1000px) {
  body .service__title {
    font-size: 60px;
    line-height: 72px; } }
@media (max-width: 992px) {
  body .gallery h2 {
    font-size: 50px;
    margin-top: 0; }
  body .gallery a .gallery__image {
    width: 100%;
    height: 100%; } }
@media (max-width: 850px) {
  header .titleTex {
    right: 60px; }

  body .title-two {
    font-size: 54px; } }
@media (max-width: 768px) {
  .bodyTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
    .bodyTitle h4:last-child {
      text-align: center;
      margin-left: 10px; }

  .service__icon {
    margin-top: 20px; }
    .service__icon svg {
      width: 110px; }

  body .service__title {
    font-size: 44px;
    line-height: 50px; }
  body .service__text {
    margin-top: 40px;
    text-align: center;
    font-size: 18px; }
  body .service__align {
    text-align: center;
    margin-top: 0px; }
  body .service__title-size {
    font-size: 30px;
    line-height: 20px; }
  body .training .align__list h3 {
    font-size: 40px;
    line-height: 56px;
    margin-top: 34px; }
  body .training .align__list h4 {
    font-size: 30px;
    line-height: 32px; }
  body .gallery h2 {
    font-size: 42px;
    margin-bottom: -20px; }
  body .gallery .more p {
    font-size: 28px; }
  body .image-size {
    margin-top: -30px; } }
@media (max-width: 650px) {
  .carousel-item {
    position: relative; }
    .carousel-item img {
      height: 615px !important;
      -o-object-fit: contain;
         object-fit: contain; }

  header .titleTex {
    right: 40px; }

  body .image-block img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 70px; }
  body .image-block-two img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 70px; }
  body .training .align h2 {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 54px; }
  body .service__title {
    font-size: 35px;
    line-height: 50px; }
  body .service .titleSize {
    font-size: 36px; }
  body .service h5 {
    font-size: 28px;
    margin-top: 10px; }
  body .service h6 {
    font-size: 38px;
    margin-top: -8px;
    margin-bottom: 18px; } }
@media (max-width: 450px) {
  header .titleTex {
    right: 10px; }
    header .titleTex h1 {
      font-size: 52px; }
    header .titleTex h4 {
      font-size: 28px; }

  body .description {
    margin-top: 100px; }
    body .description .titleText {
      font-size: 40px; }
  body .image-block img, body .image-bloc-two img {
    margin-top: 50px; }
  body .training .align h2 {
    font-size: 40px;
    margin-bottom: 10px; }
  body .training .align p {
    font-size: 18px; }
  body .training .align h5 {
    font-size: 26px; }
  body .training .align__list h3 {
    font-size: 36px;
    line-height: 40px; }
  body .training .align__list h4 {
    font-size: 22px;
    line-height: 22px; }
  body .training .align__list p {
    font-size: 18px;
    line-height: 22px; }
  body .service__title {
    margin-top: 60px;
    font-size: 28px;
    line-height: 34px; }
  body .gallery h2 {
    font-size: 36px;
    margin-bottom: -30px; }
  body .gallery .more p {
    font-size: 22px; }
  body .image-size {
    margin-top: -50px; } }
@media (max-width: 360px) {
  body .description {
    margin-top: 60px;
    margin-bottom: 20px; }
    body .description .bodyTitle {
      margin-bottom: 10px; }
      body .description .bodyTitle .titleText {
        font-size: 35px; }
  body .training .align h2 {
    font-size: 34px;
    margin-bottom: 10px; }
  body .service__title {
    margin-top: 60px;
    font-size: 26px;
    line-height: 34px; } }

/*# sourceMappingURL=style.css.map */