body 
    font-family: $font-family

header 
    .carousel-item
        position: relative
        img
            height: 938px
            object-fit: cover
    .carousel-control-prev-icon, .carousel-control-next-icon
        display: none
    .navbar-light .navbar-nav .nav-link
        font-size: 17px
        line-height: 21px
        color: #2C1A12
    .titleTex 
        position: absolute
        bottom: 124px
        right: 297px
        font-style: normal
        font-weight: normal
        h1
            font-family: $font-family            
            font-size: 72px
            line-height: 84px
            color: #FFFFFF
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
            font-weight: normal
        h4
            font-family: $font-family 
            font-weight: normal          
            font-size: 36px
            line-height: 40px
            text-align: right
            color: #FFFFFF
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
            margin-top: -48px        
    .sticky-top
        position: fixed
        width: 100%
body
    .description 
        margin-top: 150px
        h4 
            text-align: right
            font-weight: normal
        .blueTitle 
            color: $blue-color
        .titleText 
            font-family: Roboto            
            font-size: 48px
            line-height: 56px
            font-weight: normal
        .descriptionText 
            font-size: 24px
            line-height: 28px
            color: $dark-color 
    .image-block
        img 
            width: 100%
            margin-top: 138px
            height: 698px
            object-fit: cover
    .training
        margin-top: 86px
        .align-position
                position: relative
                top: 22px
        .align             
            h2, p, h5, h3, h4, h6
                text-align: center   
                font-weight: normal             
            h2
                font-size: 64px
                line-height: 75px  
                color: $blue-color
                margin-bottom: 14px            
            p
                font-size: 24px
                line-height: 28px
                color: $dark-color
            .training__text-p
                font-size: 36px
                line-height: 42px
                color: $dark-color
            .training__text-h5
                font-size: 48px
                line-height: 56px
                margin-top: -13px
            .training__position
                margin-top: 44px
            h5
                font-size: 30px
                line-height: 35px
                color: $blue-color
                margin: 5px 0px 7px
            .training__text-br
                margin-bottom: -30px
            .Text-padding
                margin-top: 28px
            .text-padding
                margin-top: 23px
            &__list
                h3 
                    color: $blue-color
                    font-size: 48px
                    line-height: 56px
                    font-weight: normal
                h4
                    font-size: 36px
                    line-height: 42px
                    color: $dark-color
                    font-weight: normal
                p
                    font-size: 30px
                    line-height: 35px
                    text-align: center
                    font-weight: normal
                    color: $blue-color
                
        .training__button
            text-align: center
            .button-pisition
                position: relative
                top: 44px
            .buttonColor                
                margin-top: 44px
                background: $blue-color
                width: 237px
                height: 47px

                font-size: 30px
                line-height: 35px
                color: #FFFFFF
                font-weight: normal
    .img-positon
        margin-top: 45px
    .image-block-two    
        img 
            width: 100%
            margin-top: 68px
            height: 698px
            object-fit: cover
    .service        
        &__title 
            margin: 0 auto
            margin-top: 60px
            font-size: 64px
            line-height: 75px
            color: $blue-color
            text-align: center
            font-weight: normal
        &__icon
            text-align: center
        &__text
            margin-top: 40px
            text-align: left
            font-size: 24px
            line-height: 28px
            color: $dark-color
            font-weight: normal
        h5
            font-size: 36px
            line-height: 42px
            text-align: center
            color: $dark-color
            font-weight: normal
            margin-top: 29px
        h6 
            font-size: 48px
            line-height: 56px
            text-align: center
            color: $blue-color
            margin-bottom: -7px
            font-weight: normal
        &__align
            text-align: center
            margin-top: 56px
        &__button
            text-align: center
            .buttonColor
                margin-top: 44px
                background: $blue-color
                width: 237px
                height: 47px
                font-weight: normal
                border-radius: 0

                font-size: 30px
                line-height: 35px
                color: #FFFFFF
                margin-bottom: 44px
        &__title-size
            font-size: 36px
            text-align: center
            line-height: 42px
            color: $blue-color
            display: block     
            font-weight: normal 
            position: relative
            top: 34px
            margin-bottom: 27px      
            &__title-size:hover 
                text-transform: underline 
        .service-button-pisition
            position: relative
            top: 54px
        .service-p-position
            position: relative
            top: 42px
        
            
    .gallery
        .gallery-row-top
            margin-top: 10px
        &__box
            padding-left: 5px
            padding-right: 5px
        h2
            font-size: 64px
            line-height: 75px
            color: #268DCF
            text-align: center
            margin-top: 10px
            margin-bottom: 0
            font-weight: normal
        h6
            font-size: 40px
            line-height: 24px
            margin-top: 20px
            text-align: center
            margin-bottom: -24px
            color: $blue-color  
            font-weight: normal 
        a
            margin: 0px 0px 10px
            display: block            
            .gallery__image 
                width: 250px
                height: 250px
                object-fit: cover
                transition: .3s
                box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2)
            .gallery__image:hover
                transform: scale(1.05)
        .last-text
            margin-top: -10px
        .more
            p                
                font-size: 36px
                line-height: 42px
                text-align: center
                color: $blue-color   
                font-weight: normal             
            p:hover
                text-decoration: underline
    .accordion 
        margin-bottom: 20px
        .btn-link 
            font-size: 20px
            line-height: 24px
            color: $dark-color
            margin-left: 20px   
            font-weight: normal
        &__title-positio
            margin-top: 65px        
        .btn-link:hover        
            text-decoration: underline $blue-color
        .btn-link:focus
            text-decoration: underline $blue-color
        .card-body 
            font-size: 18px
            line-height: 24px 
            color: $dark-color
            margin-left: 76px
            padding: 0px
            font-weight: normal
        p
            margin-bottom: 0rem         
        .button__icon
            position: relative   
        .button__icon::before
            content: url("../img/arrowDown.png")
            position: absolute
            height: 40px
            left: -40px
            top: -1px
            transition: .3s
        .button__icon:focus::before
            transform: rotate(180deg)
        .card-header
            background-color: #fff
            border-bottom: #fff
        .collapse-border
            border-left: 3px solid $blue-color
            margin-left: 20px
        .card 
            border: none
    .info
        &__title
            font-size: 56px
            line-height: 75px
            text-align: center
            color: $blue-color
            font-weight: normal
        &__icon
            text-align: center
        p, a
            font-size: 30px
            line-height: 36px
            color: #2C1A12
            margin-top: 20px
            font-weight: normal
        a 
            display: block
            margin-bottom: 20px   
        .info__pisition
            margin-top: 80px
            
    .google
        text-align: center
        margin-top: 100px
        &__map
            width: 1125px
            height: 287px
    .feedback
        h2
            font-size: 48px
            line-height: 56px
            color: $blue-color
            text-align: center
            margin-top: 80px
            font-weight: normal
        &__position
            margin-top: 28px
        &__form
            .form-control
                    border: 2px solid $blue-color
                    border-radius: 0
                    height: 70px
            .form-control-size
                    height: 200px
            margin: 40px auto 0px            
            label
                margin-bottom: 6px
                font-size: 24px
                line-height: 28px
                color: $dark-color
                font-weight: normal
            textarea
                height: 200px
            .form-check
                margin-top: 5px
                display: flex
                label
                    font-size: 17px
                    line-height: 28px
                    color: $dark-color
                    margin-left: 15px
                    margin-top: 4px
                    font-weight: normal
                .check
                    width: 25px
                    height: 25px
                    border: 2px solid $blue-color
            .form-service__button
                text-align: right
                padding: 0
            .form-button-pisition
                margin-top: 0
                
            

            
        
    .lb-details
        display: none
    .btn.focus, .btn:focus
        box-shadow: none
        
            

                
             
            
            
            
