body 
    font-family: $font-family

header 
    .carousel-item
        position: relative
        img
            height: 815px
            object-fit: cover
    .carousel-control-prev-icon, .carousel-control-next-icon
        display: none
    .titleTex 
        position: absolute
        bottom: 50px
        right: 300px
        h1
            font-family: $font-family            
            font-size: 72px
            line-height: 84px
            color: #FFFFFF
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
        h4
            font-family: $font-family           
            font-size: 36px
            line-height: 42px
            text-align: right
            color: #FFFFFF
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
            margin-top: -50px        
    .sticky-top
        position: fixed
        width: 100%
body
    .description 
        margin-top: 150px
        h4 
            text-align: right
        .blueTitle 
            color: $blue-color
        .titleText 
            font-family: Roboto            
            font-size: 48px
            line-height: 56px
        .descriptionText 
            font-size: 24px
            line-height: 28px
            color: $dark-color 
    .image-block
        img 
            width: 100%
            margin-top: 150px
    .training
        margin-top: 50px
        .align 
            h2, p, h5, h3, h4, h6
                text-align: center                
            h2
                font-size: 64px
                line-height: 75px  
                color: $blue-color
                margin-bottom: 20px            
            p
                font-size: 24px
                line-height: 30px
                color: $dark-color
            h5
                font-size: 30px
                line-height: 35px
                color: $blue-color
                margin: 5px 0px 7px
            &__list
                h3 
                    color: $blue-color
                    font-size: 48px
                    line-height: 56px
                h4
                    font-size: 36px
                    line-height: 42px
                    color: $dark-color
                p
                    font-size: 30px
                    line-height: 35px
                    text-align: center

                    color: $blue-color
                
        .training__button
            text-align: center
            .buttonColor
                margin-top: 44px
                background: $blue-color
                width: 237px
                height: 47px

                font-size: 30px
                line-height: 35px
                color: #FFFFFF
    .image-block-two 
        img 
            width: 100%
            margin-top: 65px
    .service        
        &__title 
            margin-top: 60px
            font-size: 64px
            line-height: 75px
            color: $blue-color
            text-align: center
        &__icon
            text-align: center
        &__text
            margin-top: 40px
            text-align: left
            font-size: 24px
            line-height: 28px
            color: $dark-color
        h5
            font-size: 36px
            line-height: 42px
            text-align: center
            color: $dark-color
            margin-top: 30px
        h6 
            font-size: 48px
            line-height: 56px
            text-align: center
            color: $blue-color
            margin-bottom: 30px
        &__align
            text-align: center
            margin-top: 0px
        &__button
            text-align: center
            .buttonColor
                margin-top: 44px
                background: $blue-color
                width: 237px
                height: 47px

                font-size: 30px
                line-height: 35px
                color: #FFFFFF
                margin-bottom: 44px
        &__title-size
            font-size: 36px
            text-align: center
            line-height: 42px
            color: $blue-color
            display: block            
            &__title-size:hover 
                text-transform: underline 
    .gallery
        &__box
            padding-left: 5px
            padding-right: 5px
        h2
            font-size: 64px
            line-height: 75px
            color: #268DCF
            text-align: center
            margin-top: 10px
            margin-bottom: 0
        h6
            font-size: 40px
            line-height: 24px
            margin-top: 20px
            text-align: center
            margin-bottom: -24px
            color: $blue-color   
        a
            margin: 0px 0px 10px
            display: block            
            .gallery__image 
                width: 230px
                height: 230px
                object-fit: cover
        .more
            p                
                font-size: 36px
                line-height: 42px
                text-align: center
                color: $blue-color                
            p:hover
                text-decoration: underline
    .accordion 
        .btn-link 
            font-size: 20px
            line-height: 24px
            color: $dark-color
            margin-left: 20px   
        .btn-link:hover
            text-decoration: underline $blue-color
        .btn-link:focus
            text-decoration: underline $blue-color
        .card-body 
            font-size: 18px
            line-height: 24px 
            color: $dark-color
            margin-left: 76px
            padding: 0px
        p
            margin-bottom: 0rem      
        
        .button__icon
            position: relative   
        .button__icon::before
            content: url('../img/arrowDown.png')
            position: absolute
            height: 40px
            left: -40px
            top: -1px
            transition: .3s
        .button__icon:focus::before
            transform: rotate(180deg)
        .card-header
            background-color: #fff
            border-bottom: #fff
        .collapse-border
            border-left: 3px solid $blue-color
            margin-left: 20px
        .card 
            border: none
    .info
        &__title
            font-size: 56px
            line-height: 75px
            text-align: center
            color: $blue-color
        &__icon
            text-align: center
        p, a
            font-size: 30px
            line-height: 36px
            color: #2C1A12
            margin-top: 20px
        a 
            display: block
            margin-bottom: 20px       
    .google
        text-align: center
        margin-top: 100px
        &__map
            width: 1125px
            height: 287px
    .feedback
        h2
            font-size: 48px
            line-height: 56px
            color: $blue-color
            text-align: center
            margin-top: 80px
        &__form
            .form-control
                    border: 2px solid $blue-color
            margin: 40px auto 0px            
            label
                margin-bottom: 6px
                font-size: 24px
                line-height: 28px
                color: $dark-color
            textarea
                height: 200px
            .form-check
                margin-top: 5px
                display: flex
                label
                    font-size: 24px
                    line-height: 28px
                    color: $dark-color
                    margin-left: 15px
                    margin-top: 4px
                .check
                    width: 25px
                    height: 25px
                    border: 2px solid $blue-color
            

            
        
    .lb-details
        display: none
    .btn.focus, .btn:focus
        box-shadow: none
        
            

                
             
            
            
            
