@media ( max-width: 1400px )
    header .titleTex
        right: 154px
        text-align: right
@media ( max-width: 1200px )
    header .titleTex
        right: 100px
@media ( max-width: 850px )
    header .titleTex
        right: 60px
@media ( max-width: 768px )
    .bodyTitle
        display: flex
        margin-bottom: 40px
        h4:last-child 
            text-align: center
            margin-left: 10px        
@media ( max-width: 650px )
    .carousel-item
        position: relative
        img
            height: 615px !important
            object-fit: contain
    header .titleTex
        right: 40px
@media ( max-width: 450px )
    header .titleTex
        right: 10px
        h1
            font-size: 52px
        h4
            font-size: 28px
    body 
        .description 
            margin-top: 100px
            .titleText                       
                font-size: 40px
@media ( max-width: 360px )
    body 
        .description  
            margin-top: 60px
            margin-bottom: 20px   
            .bodyTitle            
                margin-bottom: 10px        
                .titleText                       
                    font-size: 35px
